@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-1px); }
  80% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}

* {
  margin: 0; 
}

html {
  background-color: var(--surface-color);
  margin: 0;
  padding: 0;
  color: var(--content-color);
  font-family: "Zen Kaku Gothic New", sans-serif;
}
a {
  text-decoration: underline var(--muted-color);
}
button {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.invert {
  background-color: var(--content-color);
  width: fit-content;
  color: $light_surface; // ここあれね。置換漏れじゃなくて、デザイン上の理由でわざとダークモードの影響を受けないようにしてる。
  padding: 0 2px;
}

.pale-invert {
  background-color: var(--muted-color);
  width: fit-content;
  color: var(--surface-color);
  padding: 0 2px;
}
@media (prefers-color-scheme: dark) {
  .pale-invert {
    color: $light_muted; // ここあれね。置換漏れじゃなくて、デザイン上の理由でわざとダークモードの影響を受けないようにしてる。
  }
}

.text-light {
  color: var(--surface-color);
}
.text-light-grey {
  color: var(--marker-color);
}
.text-dark-grey {
  color: var(--muted-color);
}
.text-dark {
  color: var(--content-color);
}
.text-nodec {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}

.ui-icon {
  margin: 0;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ui-icon-large {
  width: auto;
  height: 32px;
  filter: invert($dark-inv) sepia($dark-sep) saturate($dark-sat) hue-rotate($dark-hue) brightness($dark-bri) contrast($dark-con);
}
.ui-icon-medium {
  width: auto;
  height: 24px;
  filter: invert($dark-inv) sepia($dark-sep) saturate($dark-sat) hue-rotate($dark-hue) brightness($dark-bri) contrast($dark-con);
}
.ui-icon-shadow {
  filter: invert($dark-inv) sepia($dark-sep) saturate($dark-sat) hue-rotate($dark-hue) brightness($dark-bri) contrast($dark-con) drop-shadow(0 0 4px var(--surface-color));
}
.ui-icon-unpushable {
  transition: 0.2s;
}
.ui-icon-unpushable:hover{
  animation: shake 0.2s ease-in-out;
}
.ui-icon-pushable {
  transition: 0.2s;
}
.ui-icon-pushable:hover{
  transform: scale(1.1);
}


.search {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 720px;
  margin: 16px auto 8px;
  padding: 4px 12px;
}

.search-query {
  height: 32px;
  font-size: 20px;
}

.search-notfound {
  background-color: var(--marker-color);
  margin: 12px auto;
  padding: 24px 48px;
}

.list-button {
  background-color: var(--surface-color);
  padding: 0;
  border: 0;
}

.list {
  max-width: 720px;
  margin: 8px auto;
  padding: 12px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 12px;
}
.list a {
  text-decoration: none;
}

.list-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--content-color);
  padding: 8px 0;
}

.list-icon {
  width: 1.2em;
  height: auto;
  filter: invert($dark-inv) sepia($dark-sep) saturate($dark-sat) hue-rotate($dark-hue) brightness($dark-bri) contrast($dark-con);
}

.list-child {
  background-color: var(--marker-color);
  width: calc(100% - 24px);
  height: auto;
  padding: 12px;
  display: flex;
  gap: 12px;
}

.list-eyecatch {
  margin: 0;
  width: $list-eyecatch-width;
  height: calc($list-eyecatch-width * 0.52375); // 16:8.38 -> Twitter OGP
  object-fit: cover;
}

.list-detail {
  display: flex;
  flex-flow: column;
}

.list-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.list-title-cap {
  font-weight: 700;
}

.list-descr {
  font-size: 14px;
}

.list-categories {
  width: fit-content;
  margin: 3px 0;
  padding: 0 5px;
  color: var(--surface-color);
  background-color: var(--muted-color);
  font-size: 13px;
}
@media (prefers-color-scheme: dark) {
  .list-categories {
    color: var(--muted-color);
    background-color: var(--surface-color);
  }
}

.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}
.pagination-button {
  margin: 0 2px;
  padding: 4px 8px;
  color: var(--content-color);
  font-size: 14px;
  font-weight: bold;
  background-color: var(--marker-color);
}
.pagination-button:disabled {
  color: var(--muted-color);
  background-color: var(--marker-color);
}

.share {
  display: flex;
  margin: 0 auto 48px;
  border: none;
  background-color: #00000000;
}

.edge {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  z-index: 10;
}

.gap {
  height: 16px;
}

.blank {
  height: 32px;
}