details, figcaption, figure {
  display: block;
}
summary {
  display: list-item;
}

[hidden] {
  display: none !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

h1, h2 {
  border-bottom: 2px solid var(--muted-color);
}

mark {
  background-color: var(--marker-color);
  color: var(--content-color);
}

img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin: 8px auto 2px;
}
img.center {
  display: block;
  margin: 0 auto;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

small {
  font-size: 90%;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  background: transparent;
  border: 1px solid var(--muted-color);
  height: 0;
  padding: 0;
  margin: 32px 0;
}
hr::before {
  display: table;
  content: "";
}
hr::after {
  display: table;
  clear: both;
  content: "";
}

input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

td, th {
  padding: 0;
}

details summary {
  cursor: pointer;
}
details:not([open])>*:not(summary) {
  display: none;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: var(--content-color);
  vertical-align: middle;
  background-color: var(--surface-color);
  border: solid 1px var(--content-color);
  border-bottom-color: var(--content-color);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--content-color);
}

h1 { margin: 24px 0 16px; font-size: 1.75em; }
h2 { margin: 24px 0 16px; font-size:  1.5em; }
h3 { margin: 24px 0 16px; font-size:  1.3em; }
h4 { margin: 24px 0 12px; font-size:  1.2em; }
h5 { margin: 20px 0  8px; font-size:  1.1em; }
h6 { margin: 16px 0  4px; font-size:  1.0em; }

@media (prefers-color-scheme: dark) {
  h1, h2, h3 {
    color: $light_muted; // ここあれね。置換漏れじゃなくて、デザイン上の理由でわざとダークモードの影響を受けないようにしてる。
  }
}

p {
  margin-bottom: 24px;
  line-height: 32px;
}

blockquote {
  padding: 2px 12px;
  background-color: var(--marker-color);
  border-left: 3px solid var(--content-color);
}
blockquote>:first-child {
  margin-top: 0;
}
blockquote>:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
ol ol, ul ol {
  list-style-type: lower-roman;
}
ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style-type: lower-alpha;
}
ul ul, ul ol, ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

tt, code, samp, pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 14px;
}

code {
  padding: 2px;
  width: fit-content;
  background-color: var(--marker-color);
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 12px;
  background-color: var(--marker-color);
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal; // 死んでも改行してやる
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

p, blockquote, ul, ol, dl, table, pre, details {
  margin-top: 0;
  margin-bottom: 24px;
}

li>p {
  margin-top: 16px;
}
li+li {
  margin-top: .25em;
}

dd {
  margin-left: 0;
}
dl {
  padding: 0;
}
dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
}
dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

h2 a, h3 a {
  text-decoration: none;
}

a {
  color: var(--content-color);
  text-decoration: underline solid;
  text-decoration-color: var(--content-color);
  text-decoration-thickness: 2px;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid var(--content-color);
}
table td>:last-child {
  margin-bottom: 0;
}
table tr {
  background-color: var(--surface-color);
  border-top: 1px solid var(--content-color);
}
table tr:nth-child(2n) {
  background-color: var(--marker-color);
}
table img {
  background-color: transparent;
}

rt{
  transform: translateY(6px);
}

strong {
  font-weight: 900;
}

iframe {
  margin: 16px auto 32px;
}

.left {
  text-align: left;
  line-height: 32px;
  margin-bottom: 32px;
}
.center {
  text-align: center;
  line-height: 32px;
  margin-bottom: 32px;
}
.right {
  text-align: right;
  line-height: 32px;
  margin-bottom: 32px;
}