$basic-light: #ebebeb;
$mark-light: #dddee0;
$mark-dark: #b7b9c1;
$basic-dark: #8b8f9f;

$light-inv: 96%;
$light-sep: 10%;
$light-sat: 77%;
$light-hue: 329deg;
$light-bri: 114%;
$light-con: 84%;

$dark-inv: 62%;
$dark-sep: 12%;
$dark-sat: 327%;
$dark-hue: 191deg;
$dark-bri: 88%;
$dark-con: 93%;

$list-eyecatch-width: 144px;