$basic-light: #ecebeb;
$mark-light: #d5d0d2;
$mark-dark: #c5bec4;
$basic-dark: #aba3aa;

$light-inv: 99%;
$light-sep: 5%;
$light-sat: 60%;
$light-hue: 307deg;
$light-bri: 115%;
$light-con: 85%;

$dark-inv: 77%;
$dark-sep: 9%;
$dark-sat: 191%;
$dark-hue: 256deg;
$dark-bri: 85%;
$dark-con: 89%;

$list-eyecatch-width: 144px;