$basic-light: #b4c5db;
$mark-light: #98a9be;
$mark-dark: #728495;
$basic-dark: #4a5b6a;

$light-inv: 97%;
$light-sep: 17%;
$light-sat: 5798%;
$light-hue: 176deg;
$light-bri: 92%;
$light-con: 87%;

$dark-inv: 34%;
$dark-sep: 7%;
$dark-sat: 1605%;
$dark-hue: 167deg;
$dark-bri: 93%;
$dark-con: 86%;

$list-eyecatch-width: 144px;